* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282D35;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-logo {
  height: 30px;
  margin-right: 7px;
}

.nav-logo-text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px
}

.nav-project-name {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 16px;
}

main {
  color: white;
  padding: 57px 27px;
}

.title {
  margin-top: 0px;
  margin-bottom: 46px;
  font-weight: 700;
  font-size:39px;
  letter-spacing: -0.05em;
}

.facts {
  margin-left: 47px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
}

.facts > li {
  padding-block: 10px;
  max-width: 390px;
}
